<%- include _header %>
<div class="flex">
	<%- include _sidebar %>
	<main>
		<h1><%- subject.label %></h1>
		<p><%- subject.description %></p>
		<% if (locals.user) { %>
			<% if (subject.goals) { %>
				<ul>
				<% for (let i = 0; i < subject.goals.length; i++) { %>
					<li><%- subject.goals[i].short %></li>
				<% } %>
				</ul>
			<% } %>
			
			<% if (subject.resources) { %>
				<ul class="resources">
				<% for (let i = 0; i < subject.resources.length; i++) { %>
					<li class="<%- subject.resources[i].type %>"><a href="<%- subject.resources[i].url %>"><%- subject.resources[i].name %></a></li>
				<% } %>
				</ul>
			<% } %>
		<% } %>
		<% if (locals.repoData) { %>
			<h2>Repositories/Forks</h2>
			<% if (!locals.user) { %>
				<p>Dit zijn de repositories met het gemaakte werk van de studenten. In veel gevallen is op deze pagina te lezen hoe u de projecten kunt bekijken.</p>
				<section class="repoblocks">
				<% for (let i = 0; i < repoData.length; i++) { %>
					<% for (let j = 0; j < repoData[i].forks.length; j++) { %>
						<div>
							<a href="<%- repoData[i].forks[j].urls.html %>"><%- repoData[i].forks[j].ownerName %></a>
						</div>
					<% } %>
				<% } %>
				</section>
			<% } %>
			<% if (locals.user) { %>
				<% for (let i = 0; i < repoData.length; i++) { %>
					<ul>
					<% for (let j = 0; j < repoData[i].forks.length; j++) { %>
						<li><a href="<%- repoData[i].forks[j].urls.html %>"><%- repoData[i].forks[j].ownerName %></a></li>
					<% } %>
					</ul>
				<% } %>
			<% } %>
		<% } %>
		<% if (repoData.length == 0) { %>
			<p>De projecten worden nog geindexeerd, probeer de pagina te verversen.</p>
		<% } %>
		
	</main>
	<%- include _userside %>
</div>
<%- include _footer %>