<%- include _header %>
<div class="flex">
	<%- include _sidebar %>
	<main>
		<h1><%- subject.label %></h1>
		<% if (locals.user) { %>
			<p><%- subject.description %></p>
			<% if (subject.goals) { %>
				<ul>
				<% for (let i = 0; i < subject.goals.length; i++) { %>
					<li><%- subject.goals[i].short %></li>
				<% } %>
				</ul>
			<% } %>
			
			<% if (subject.resources) { %>
				<ul>
				<% for (let i = 0; i < subject.resources.length; i++) { %>
					<li><%- subject.resources[i].name %></li>
				<% } %>
				</ul>
			<% } %>
		<% } %>
		<% if (locals.repoData) { %>
			<h2>Repositories/Forks</h2>
			<% for (let i = 0; i < repoData.length; i++) { %>
				<h3><%- repoData[i].repo.name %></h3>
				<ul>
				<% for (let j = 0; j < repoData[i].forks.length; j++) { %>
					<li><a href="<%- repoData[i].forks[j].urls.html %>"><%- repoData[i].forks[j].ownerName %></a></li>
				<% } %>
				</ul>
			<% } %>
		<% } %>
		
	</main>
	<%- include _userside %>
</div>
<%- include _footer %>