<%- include _header %>
<div class="flex">
	<%- include _sidebar %>
	<main>
		<h1><%- user.niceName || user.systemName %></h1>
		<img src="<%- user.avatar %>" alt="<%- user.systemName %>'s avatar">
	</main>
	<%- include _userside %>
</div>
<%- include _footer %>