<%- include _header %>
<div class="flex">
	<%- include _sidebar %>
	<main>
		<h1><%- profile.niceName || profile.systemName %></h1>
		<img src="<%- profile.avatar %>" alt="<%- profile.systemName %>'s avatar">
		<% if (!locals.yours) { %>
			<section id="chat">
				<h2>Chat</h2>
				<ul>
					<% if (locals.chat) { %>
						<% for (let i = 0; i < chat.length; i++) { %>
							<% if (chat[i].sendBy == user._id) { %>
								<li id ="<%- chat[i]._id %>" class="yours"><%- chat[i].text %></li>
							<% } else { %>
								<li id ="<%- chat[i]._id %>" ><%- chat[i].text %></li>
							<% } %>
						<% } %>
					<% } %>
					<!-- End of chat history -->
				</ul>
				<form id="chatmessage">
					<input type="hidden" name="you" value="<%- user._id %>">
					<input type="hidden" name="other" value="<%- profile._id %>">
					<input type="text" name="message">
					<input type="submit">
				</form>
			</section>
		<% } %>

	</main>
	<%- include _userside %>
</div>
<%- include _footer %>