<%- include _header %>
<div class="flex">
	<%- include _sidebar %>
	<main class="repos">
	<% if (locals.classes) { %>
		<% for (let i = 0; i < classes.length; i++) { %>
			<section>
				<h2><a href="/repo/<%- classes[i].id %>"><%- classes[i].label %></a></h2>
				<% if (locals.user) { %>
					<ul>
					<% for (let j = 0; j < classes[i].goals.length; j++) { %>
						<li><%- classes[i].goals[j].short %></li>
					<% } %>
					</ul>
					<ul>
					<% for (let j = 0; j < classes[i].resources.length; j++) { %>
						<li><%- classes[i].resources[j].name %></li>
					<% } %>
					</ul>
				<% } else { %>
					<p><%- classes[i].description %></p>
				<% } %>
			</section>
		<% } %>

	<% } %>
	</main>
	<%- include _userside %>
</div>
<%- include _footer %>