<%- include _header %>
<div class="flex">
	<%- include _sidebar %>
	<main>
	<% if (locals.repos) { %>
		<% for (let i = 0; i < repos.length; i++) { %>
			<div>
				<a href="/repo/<%= repos[i]._id %>"><%= repos[i].name %></a>
			</div>
		<% } %>
	<% } %>
	</main>
</div>
<%- include _footer %>