<%- include _header %>
<div class="flex">
	<%- include _sidebar %>
	<main>
	<% if (locals.repos) { %>
		<% for (let i = 0; i < repos.length; i++) { %>
			<% if (repos[i].repos.length > 0) { %>
				<h2><%- repos[i].id %></h2>
				<% for (let j = 0; j < repos[i].repos.length; j++) { %>
					<div>
						<a href="/repo/<%= repos[i].repos[j]._id %>"><%= repos[i].repos[j].name %></a>
					</div>
				<% } %>
			<% } %>
		<% } %>
	<% } %>
	</main>
	<%- include _userside %>
</div>
<%- include _footer %>